<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menu List</title>
</head>
<body>
    <h1>Restaurant Menu</h1>
    {% for meal in meals %}
        <h2>{{ meal.1 }}</h2>
        {% for item in item_list %}
            {% if item.category == meal.0 %}
                {% if item.status == 1 %}
                    <h3><del>{{ item.meal }}</del></h3>
                {% else %}
                    <h3>{{ item.meal }}</h3>
                    <p>{{ item.description }}</p>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</body>
</html>