{% extends 'base.html' %}
{% block content %}
<h1 class="mt-4 mb-4">Job Application Form</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group mb-4">
        <label for="first_name">First name:</label>
        <input type="text" id="first_name" name="first_name" class="form-control" required>
    </div>
    <div class="form-group mb-4">
        <label for="last_name">Last name:</label>
        <input type="text" id="last_name" name="last_name" class="form-control" required>
    </div>
    <div class="form-group mb-4">
        <label for="email">E-Mail:</label>
        <input type="email" id="email" name="email" class="form-control" required>
    </div>
    <div class="form-group mb-4">
        <label for="date">Available start date:</label>
        <input type="date" id="date" name="date" class="form-control" required>
    </div>
    <div class="form-group mb-4">
        <label class="mb-1">Current occupation:</label>
        <br>
        <div id="occupation" class="btn-group-vertical">
            <input type="radio" id="employed" name="occupation" class="btn-check form-control" value="employed"
                   required>
            <label for="employed" class="btn btn-outline-secondary">Employed</label>
            <input type="radio" id="unemployed" name="occupation" class="btn-check form-control" value="unemployed"
                   required>
            <label for="unemployed" class="btn btn-outline-secondary">Unemployed</label>
            <input type="radio" id="self-employed" name="occupation" class="btn-check form-control"
                   value="self-employed" required>
            <label for="self-employed" class="btn btn-outline-secondary">Self-Employed</label>
            <input type="radio" id="student" name="occupation" class="btn-check form-control" value="student" required>
            <label for="student" class="btn btn-outline-secondary">Student</label>
        </div>
    </div>
    <button type="submit" class="btn btn-secondary mb-4">Submit</button>
    {% if messages %}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
</form>
{% endblock %}